<div class="wrapper-for-calendars">
  <tui-calendar
    [maxViewedMonth]="firstMonth"
    [month]="firstMonth"
    [showAdjacent]="false"
    [value]="value"
    [(hoveredItem)]="hoveredItem"
    (dayClick)="onDayClick($event)"
    (monthChange)="onMonthChangeFirst($event)"
    [markerHandler]="markerHandler"
  ></tui-calendar>
  <tui-calendar
    [maxViewedMonth]="middleMonth"
    [minViewedMonth]="middleMonth"
    [month]="middleMonth"
    [showAdjacent]="false"
    [value]="value"
    [(hoveredItem)]="hoveredItem"
    (dayClick)="onDayClick($event)"
    (monthChange)="onMonthChangeMiddle($event)"
    [markerHandler]="markerHandler"
  ></tui-calendar>
  <tui-calendar
    [minViewedMonth]="lastMonth"
    [month]="lastMonth"
    [showAdjacent]="false"
    [value]="value"
    [(hoveredItem)]="hoveredItem"
    (dayClick)="onDayClick($event)"
    (monthChange)="onMonthChangeLast($event)"
    [markerHandler]="markerHandler"
  ></tui-calendar>
</div>

<div class="button-wrapper">
  <div *ngIf="value">Выбранные даты: {{ value }} <br /></div>
  <button
    tuiButton
    type="button"
    class="tui-space_right-3 tui-space_bottom-3"
    (click)="showAllEvents()"
  >
    Показать все мероприятия
  </button>
</div>

<table
  tuiTable
  [columns]="columns"
  *ngIf="selectedEvents.length > 0; else selectedIsEmpty"
>
  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'name'" class="name" tuiTh>Название</th>
      <th *tuiHead="'startDate'" class="startDate" tuiTh>Дата начала</th>
      <th *tuiHead="'endDate'" class="endDate" tuiTh>Дата конца</th>
      <th *tuiHead="'description'" class="description" tuiTh>Описание</th>
    </tr>
  </thead>
  <tbody
    tuiTbody
    *tuiLet="selectedEvents | tuiTableSort as sortedEvents"
    [data]="sortedEvents"
  >
    <tr *ngFor="let item of sortedEvents" tuiTr>
      <td *tuiCell="'name'" class="name" tuiTd>{{ item.name }}</td>
      <td *tuiCell="'startDate'" class="startDate" tuiTd>
        {{ item.startDate }}
      </td>
      <td *tuiCell="'endDate'" class="endDate" tuiTd>
        {{ item.endDate }}
      </td>
      <td *tuiCell="'description'" class="description" tuiTd>
        {{ item.description }}
      </td>
    </tr>
  </tbody>
</table>
<ng-template #selectedIsEmpty> Мероприятий в данный период нет. </ng-template>
