<tui-app-bar>
    <div class="row left_side" tuiSlot="left">
        <img src="../../../assets/images/logo/scienceFamcsLogo.png" alt="Logo" class="logo-figure space_right">
        <h1 class="tui-text_h3 space_left">Science FAMCS</h1>
    </div>
    <div class="row right_side" tuiSlot="right">
        <button tuiIconButton icon="tuiIconUserLarge" type="button" appearance="mono" class="space_right">
        </button>
        <button tuiIconButton icon="tuiIconSunLarge" type="button" appearance="mono" class="space_right">
        </button>
        <button tuiIconButton icon="tuiIconMenuLarge" type="button" appearance="mono">
        </button>
    </div>
</tui-app-bar>