@import '@taiga-ui/core/styles/taiga-ui-local.scss';
* {
    margin: 0;
    padding: 0;
}

tui-app-bar {
    @include shadow(6);
    height: fit-content;
    padding: 4px 0;
    border-bottom: 1px solid var(--tui-base-03);
}

.logo {
    width: 60px;
    height: 60px;
    display: block;
}

.row {
    display: flex;
    align-items: center;
}

.left_side {
    @include tui-space(left, 5);
}

.right_side {
    @include tui-space(right, 5);
}

.space_right {
    @include tui-space(right, 3);
}

.space_left {
    @include tui-space(left, 3);
}

.block {
    display: block;
}
.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tui-space__left-1 {
    @include tui-space(left, 1);
}

.tui-space__right-1 {
    @include tui-space(right, 1);
}

.tui-space__bottom-1 {
    @include tui-space(bottom, 1);
}

.tui-space__top-1 {
    @include tui-space(top, 1);
}