<tui-theme-night *ngIf="isDark()"></tui-theme-night>
<tui-app-bar>
    <div class="row left_side" tuiSlot="left">
        <img src="../../../assets/images/logo/scienceFamcsLogo.png" alt="Logo" class="logo-figure space_right">
        <h1 class="tui-text_h3 space_left logo_text">Science FAMCS</h1>
    </div>
    <div class="row right_side" tuiSlot="right">
        <button tuiIconButton icon="tuiIconUserLarge" type="button" appearance="mono" class="space_right" (click)="onAccountClick()">
        </button>
        <button tuiIconButton [icon]="getTheme()" type="button" appearance="mono" class="space_right" (click)="changeTheme()">
        </button>
        <app-sidebar></app-sidebar>
    </div>
</tui-app-bar>