<section id="about-developers">
    <h2 class="tui-text_h3">Разработчики сайта</h2>
    <div class="teamlead-container">
        <app-developer-card
            firstName="Евгений"
            lastName="Шевцов"
            photoURL="../../../../../../assets/images/developers photoes/Eugeni.jpg"
            developerType="teamlead"
            subtext="AKA Женя Рысь"
            role="Frontend тимлид"
            [developerLinks]="[
                ['tuiIconGithub', 'https://github.com/PblCbGomel'],
                ['tuiIconLinkedin', 'https://www.linkedin.com/in/evgeniy-shevtsov-8a9091236']
            ]"
        >
        </app-developer-card>
        <app-developer-card
            firstName="Анна"
            lastName="Осипчик"
            photoURL="../../../../../../assets/images/developers photoes/Ann.jpg"
            developerType="teamlead"
            role="Backend тимлид"
            [developerLinks]="[
                ['tuiIconInstagram', 'https://www.instagram.com/a_osipchik'],
            ]"
        >
        </app-developer-card>
    </div>
    <div class="developers-container">
        <app-developer-card
            firstName="Станислав"
            lastName="Зайцев"
            photoURL="../../../../../../assets/images/developers photoes/StanislauZaitsau.jpg"
            developerType="developer"
            role="Frontend разработчик"
            [developerLinks]="[
                ['tuiIconGithub', 'https://github.com/KrollikRoddzer'],
                ['tuiIconLinkedin', 'https://www.linkedin.com/in/krollikroddzer'],
            ]"
        >
        </app-developer-card>
        <app-developer-card
            firstName="Александра"
            lastName="Якушева"
            photoURL="../../../../../../assets/images/developers photoes/Sasha.jpg"
            developerType="developer"
            role="Frontend разработчик"
            [developerLinks]="[
                ['tuiIconGithub', 'https://github.com/sashayyy'],
                ['tuiIconLinkedin', 'https://www.linkedin.com/in/sasha-yakusheva-31a80528b'],
                ['tuiIconInstagram', 'https://www.instagram.com/whiskasdlyakotyat'],
            ]"
        >
        </app-developer-card>
        <app-developer-card
            firstName="Ян"
            lastName="Толстой"
            photoURL="../../../../../../assets/images/developers photoes/Yan.jpg"
            developerType="developer"
            role="Backend разработчик"
            [developerLinks]="[
                ['tuiIconGithub', 'https://github.com/yanomaly'],
                ['tuiIconLinkedin', 'https://www.linkedin.com/in/yanomaly/'],
            ]"
        >
        </app-developer-card>
        <app-developer-card
            firstName="Сергей"
            lastName="Гончар"
            photoURL="../../../../../../assets/images/developers photoes/Sergei.jpg"
            developerType="developer"
            role="Backend разработчик"
            [developerLinks]="[
                ['tuiIconGithub', 'https://github.com/redfox193'],
                ['tuiIconLinkedin', 'https://www.linkedin.com/in/sergei-goncharov-redfox193/'],
            ]"
        >
        </app-developer-card>
    </div>
</section>