<section id="about-developers">
    <h2 class="tui-text_h3">Разработчики сайта</h2>
    <div class="teamlead-container">
        <div class="developer teamlead-color">
            <img src="../../../../../../assets/images/developers photoes/Eugeni.jpg" alt="Eugeniy Shevtsov's photo" class="developer-photo">
            <h3 class="tui-text_h5 after" text="AKA Женя Рысь">
                Евгений<br>Шевцов
            </h3>
            <h4 class="tui-text_h6">Frontend тимлид</h4>
        </div>
        <div class="developer teamlead-color">
            <img src="../../../../../../assets/images/developers photoes/Ann.jpg" alt="Ann Osipchuk's photo" class="developer-photo">
            <h3 class="tui-text_h5">
                Анна<br>Осипчик
            </h3>
            <h4 class="tui-text_h6">Backend тимлид</h4>
        </div>
    </div>
    <div class="developers-container">
        <div class="developer developer-color">
            <img src="../../../../../../assets/images/developers photoes/StanislauZaitsau.jpg" alt="Stanislau Zaitsau's photo" class="developer-photo">
            <h3 class="tui-text_h5">
                Станислав<br>Зайцев
            </h3>
            <h4 class="tui-text_h6">Frontend разработчик</h4>
        </div>
        <div class="developer developer-color">
            <img src="../../../../../../assets/images/developers photoes/Sasha.jpg" alt="Sasha Yakusheva's photo" class="developer-photo">
            <h3 class="tui-text_h5">
                Александра<br>Якушева
            </h3>
            <h4 class="tui-text_h6">Frontend разработчик</h4>
        </div>
        <div class="developer developer-color">
            <img src="../../../../../../assets/images/developers photoes/Yan.jpg" alt="Yan Tolstoy's photo" class="developer-photo">
            <h3 class="tui-text_h5">
                Ян<br>Толстой
            </h3>
            <h4 class="tui-text_h6">Backend разработчик</h4>
        </div>
        <div class="developer developer-color">
            <img src="../../../../../../assets/images/developers photoes/Sergei.jpg" alt="Sergei Gincharov's photo" class="developer-photo">
            <h3 class="tui-text_h5">
                Сергей<br>Гончаров
            </h3>
            <h4 class="tui-text_h6">Backend разработчик</h4>
        </div>
    </div>
</section>