<form class="famcs-form" [formGroup]="registerForm">
    <div class="register-form">
        <h3 class="tui-form__header center">Регистрация</h3>
        <div class="form-fields_grid_container">
            <div class="input_item">
                <tui-input
                    class="width100 famcs-text-input"
                    tuiHintContent="Введите ваше имя"
                    formControlName="firstName"
                >
                    Имя 
                <input tuiTextfield/>
                <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="input_item">
                <tui-input
                    class="width100 famcs-text-input"
                    tuiHintContent="Введите вашу фамилию"
                    formControlName="lastName"
                >
                    Фамилия 
                <input tuiTextfield/>
                <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>  
            <div class="input_item">
                <tui-input
                    class="width100 famcs-text-input"
                    tuiHintContent="Введите вашу фамилию"
                    formControlName="patronymic"
                >
                    Отчество 
                <input tuiTextfield/>
                </tui-input>
                <tui-error
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>  
            <div class="input_item">
                <tui-input
                class="width100 famcs-text-input"
                tuiHintContent="Введите вашу почту"
                formControlName="login"
                >
                    Логин
                <input tuiTextfield/>
                <span class="tui-required"></span>
                </tui-input>
                <tui-error
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="input_item">
                <tui-input-password
                    class="famcs-text-input"
                    tuiHintContent="Пароль"
                    formControlName="password"
                    >
                    Пароль
                    <input tuiTextfield/>
                    <span class="tui-required"></span>
                </tui-input-password>
                <tui-error
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="input_item">
                <tui-input-password
                    class="famcs-text-input"
                    tuiHintContent="Пароль"
                    formControlName="repeatPassword"
                    >
                    Повторите пароль
                    <input tuiTextfield/>
                    <span class="tui-required"></span>
                </tui-input-password>
                <tui-error
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>
            <div class="input_item submit_button">
                <button
                    size="l"
                    tuiButton
                    type="submit"
                    appearance="primary"
                >
                    Зарегесрироваться
                </button>
            </div>
        </div>
    </div>
</form>