@import '@taiga-ui/core/styles/taiga-ui-local.scss';

span {
    font-weight: 600;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -10px;
}

.flex-container_item {
    width: calc(40% - 10px);
    height: 9rem;
    margin: 10px;
}

.tui-island__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.tui-island__title {
    color: #222;
}

.tui-island__paragraph {
    color: #333;
}

.header {
    display: flex;
    width: 100%;
    height: 12.5rem;
    align-items: center;
    justify-content: center;
    background: #ffdd2d;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    :host-context(tui-root._mobile) & {
        flex-direction: column;
    }
}

.tui-space_top-3 {
    @include tui_space(top, 3);
}

.tui-space_top-6 {
    @include tui_space(top, 6);
}

.tui-space_top-9 {
    @include tui_space(top, 9);
}