<form class="famcs-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form">
        <h3 class="tui-form__header center">Войти в аккаунт</h3>
        <div class="famcs-input-container">
            <tui-input
                class="famcs-text-input"
                formControlName="login"
                >
                Логин 
                <input tuiTextfield />
            </tui-input>
            <tui-error
                formControlName="login"
                [error]="[] | tuiFieldError | async"
            >
            </tui-error>
        </div>              
    
        <div class="famcs-input-container">
            <tui-input-password
                class="famcs-text-input"
                formControlName="password"
                >
                Пароль
                <input tuiTextfield/>
            </tui-input-password>
            <tui-error
                formControlName="password"
                [error]="[] | tuiFieldError | async"
            >
            </tui-error>
        </div>

        <div class="famcs-input-container center">
            <button
                        class="form-button"
                        size="m"
                        tuiButton
                        type="submit"
                        appearance="primary"
                    >
                        Войти
                    </button>
        </div>
        <div class="caption center">
            <p class="tui-text_body-s">
                Нет аккаунта? <a tuiLink href="/account/register"> Зарегестрироваться</a>
            </p>
        </div>
    </div>
</form>