<footer>
    <span>&copy; 2023 Научка ФПМИ</span>
    <a routerLink="/components/link" tuiLink class="text-color">О создателях сайта</a>
    <div>
        <a tuiIconButton type="button" icon="tuiIconInstagram" href="https://www.instagram.com/science_famcs/" 
            appearance="none" class="icon_hover">
        </a>

        <a tuiIconButton type="button" icon="tuiIconGithub" href="https://github.com/ScienceSUFAMCS"
            appearance="none" class="icon_hover">
        </a>
    </div>
</footer>