@import '@taiga-ui/core/styles/taiga-ui-local.scss';
* {
    margin: 0;
    padding: 0;
    color: var(--tui-text-03);
}

.footer {
    height: 3rem;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.footer::before {
    content: '';
    position: absolute;
    background: var(--tui-text-03);
    width: 70%;
    height: 1px;
    align-self: flex-start;
}

.text-color {
    color: var(--tui-text-03);
}

