<h1 class="tui-space_top-9">Плюшки</h1>
<p class="tui-space_top-6">Тут найдётся всё самое полезное по предметам</p>

<form class="form tui-space_top-3" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="flexbox-nowrap">
        <tui-input formControlName="subject" class="input-search">
            Предмет
            <input tuiTextfield />
        </tui-input>
        <tui-input formControlName="name" class="input-search tui-space_left-3">
            Название
            <input tuiTextfield />
        </tui-input>
        <tui-input formControlName="author" class="input-search tui-space_left-3">
            Автор
            <input tuiTextfield />
        </tui-input>

        <button icon="tuiIconSearch" tuiIconButton type="submit" class="tui-space_left-3"> </button>
    </div>
    <tui-filter tuiMode="onLight" class="tui-space_top-3" formControlName="filters" size="s" [items]="items">
    </tui-filter>
</form>

<div id="sub" class="flexbox-wrap tui-space_top-6">
    <button *ngFor="let subject of subjects; index as i" class="card tui-space_top-3"
        style.background="{{ colors[i % colors.length] }}">
        <h3 class="heading">{{ subject.name }}</h3>
        <div class="content">{{ subject.description }}</div>
    </button>
</div>

<button appearance="secondary" tuiButton type="button" icon="tuiIconArrowLeft" (click)="backClick()" size="s"
    id="btnBack" class="tui-space_top-9 display-none">
    Вернуться к списку предметов
</button>

<table id="result" class="tui-table tui-space_top-6 tui-space_left-3 display-none">
    <tbody>
        <tr>
            <th class="tui-table__th tui-table__td_first">Название</th>
            <th class="tui-table__th">Автор</th>
            <th class="tui-table__th">Предмет</th>
            <th class="tui-table__th tui-table__td_last">Тип</th>
        </tr>
        <tr *ngFor="let item of searchResult" (click)="openFileClick($event)" style="cursor: pointer"
            class="tui-table__tr tui-table__tr_border_none">
            <td class="tui-table__td tui-table__td_first">{{ item.name }}</td>
            <td class="tui-table__td">{{ item.author }}</td>
            <td class="tui-table__td">{{ item.subject }}</td>
            <td class="tui-table__td tui-table__td_last">{{ item.type }}</td>
        </tr>
    </tbody>
</table>